<html>
	<head>
		<title> Welcome to Django Pizza!</title>
	</head>

	<body>
		<h1> Django Pizza Place </h1>	
		<ul style="list-style-type: none">
		{% for pizza in pizzas %}
			<li>
				{% if pizza.picture %}
				<img src="{{ pizza.picture.url }}" 
					width="100px" alt="Picture of {{pizza.name}}"/>				
				{% endif %}
				<h2>{{ pizza.name }} (R$ {{pizza.price}})</h2> 
				<div>{{ pizza.ingredients }}</div>
				<hr>
			 </li>
		{% empty %}
			<h2>No pizzas</h2>
		{% endfor %}
		</ul>
	</body>

</html>
